<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth service: Sign-up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

</head>
<body>
    <div class="row p-5">
        <h1>Short menu</h1>
        <h2><a href="/">Home</a></h2>
        <h2><a href="/signup">>Sign-up</a></h2>
        <h2><a href="/login">Login</a></h2>
    </div>
    <div class="row p-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container">
                <h1>Successfully signed up</h1>
                <script>
                    setTimeout(function(){
                        window.location.href = '/';
                    }, 2000);
                </script>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>
</html>